<div class="col-md-6 offset-md-3 col-sm-4 offset-sm-4">
  <%= simple_form_for(@drink) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.association :cidery, collection: Cidery.where("id != 0").order(:name), label_method: :name, prompt: "Choose a Cidery" %>

      <%= f.association :style, label_method: :name, prompt: "Choose a Style" %>
      <%= f.association :sugar_content, label_method: :name, prompt: "Choose Sweetness" %>
      <%= f.association :prod_method, collection: ProdMethod.order(:name), label_method: :name, prompt: "Choose a Method" %>

      <%= f.input :abv %>
      <%= f.input :size %>

      <%= f.input :description %>

      <% if false %>
        <%= f.association :retailers, as: :check_boxes %>
        <%= f.input :price %>
        <%= f.input :available %>
        <%= f.input :quantity %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :photo %>
      <%= f.file_field :photo, accept: 'image/png, image/jpg, image/jpeg' %>
    </div>
    <div class="form-actions">
      <%= link_to "Cancel", :back, class: "btn btn-outline-dark btn-default-inverse" %>
      <%= f.button :submit, class: "btn btn-outline-dark btn-default-inverse" %>
    </div>
  <% end %>
</div>