<p id="notice"><%= notice %></p>

<div class="jumbotron">
<h1>[Cidery]</h1>
<%= link_to 'New CiDER', new_drink_path, class: "btn btn-outline-dark btn-default-inverse" %>

</div>

<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
  <% @drinks.each do |drink| %>
    <div class="col mb-4">
      <div class="card h-100" style="width: 18rem;">
        <%= image_tag "cider-can.jpg", alt: "bertie cider", class: "card-img-top" %>
        <div class="card-body text-white bg-dark">
          <h3 class="card-title"><%= drink.name%></h3>
          <h6 class="text-right"><%= drink.brewer.name %></h6>
          <p class="card-text text-truncate"><%= drink.description %></p>
          <h5> $<%=drink.price%> </h5>
          <%= link_to 'See More', drink, class: "btn btn-outline-light btn-default" %>
          <%= link_to 'Delete', drink, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-light btn-default" %>

        </div>
        <div class="card-footer">
          <small class="text-muted">Added <%= time_ago_in_words(drink.created_at) %> ago </small>
        </div>
      </div>
    </div>
  <% end %>
</div>






<% if false %>
  <table>
    <thead>
      <tr>
        <th>Drink name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Available</th>
        <th>Quantity</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @drinks.each do |drink| %>
        <tr>
          <td><%= drink.name %></td>
          <td><%= drink.description %></td>
          <td><%= drink.price %></td>
          <td><%= drink.available %></td>
          <td><%= drink.quantity %></td>
          <td><%= link_to 'Show', drink %></td>
          <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
          <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Drink', new_drink_path, class: "btn btn-outline-light btn-default" %>
<% end %>