<p id="notice"><%= notice %></p>

<div class="jumbotron">

<h1>CiDERies</h1>
<%# if current_user && current_user.id == @drink.user_id %>
<%= link_to 'New CiDERY', new_cidery_path, class: "btn btn-outline-dark btn-default-inverse" %>
<%# end %>
</div>

<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
  <% @cideries.each do |cidery| %>
    <div class="col mb-4">
      <div class="card h-100" style="width: 18rem;">
        <% if cidery.logo.attached? %>
        <%= image_tag cidery.logo, alt: "cidery logo", class: "img-thumbnail card-img-top" %>
        <% else %>
        <%= image_tag "cidery-logo.jpg", alt: "cidery logo", class: "img-thumbnail card-img-top" %>
        <% end %>
        <div class="card-body text-white bg-dark">
          <h3 class="card-title"><%= cidery.name%></h3>
          <p class="card-text text-truncate"><%= cidery.description %></p>
          <h5> <%= cidery.drinks.count%> CiDER(s)</h5>
          <%= link_to 'See More', cidery, class: "btn btn-outline-light btn-default" %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added <%= time_ago_in_words(cidery.created_at) %> ago </small>
        </div>
      </div>
    </div>
  <% end %>
</div>