<div class="card jumbotron shadow-lg mb-5 bg-body rounded">
  <div class="row g-0">

    <div class="col-md-3">
      <% if @cidery.logo.attached? %>
        <%= image_tag @cidery.logo, alt: "cider logo", class: "img-thumbnail card-img-top" %>
      <% else %>
        <%= image_tag "cidery-logo.jpg", alt: "cider logo", class: "img-thumbnail card-img-top" %>
      <% end %>
    </div>

    <div class="col-md-9 d-flex">
      <div class="card-body text-white bg-dark rounded-end">
        <h1 class="card-title"><%= @cidery.name %></h1>
        <h5 class="card-title">Origin: <%= @cidery.origin %></h5>
        <h6 class="card-title">email: <%= @cidery.email %></h6>
        <p class="card-text full-fill"><%= @cidery.description %></p>
        <%= link_to 'Back', :back, class: "btn btn-outline-light btn-default" %>
        <% if (user_signed_in? && current_user.role == "super") || (user_signed_in? && current_user && current_user.cidery_id == @cidery.id) %>
          <%= link_to 'Edit', edit_cidery_path(@cidery), class: "btn btn-outline-light btn-default" if can? :update, @cidery %>
          <%= link_to 'Delete', cidery_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-light btn-default" if can? :destroy, @cidery %>
          <%= link_to 'New CiDER', new_drink_path, class: "btn btn-outline-dark btn-default-inverse" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<h2>The Range</h2>
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
  <% @cidery.drinks.each do |drink| %>
    <div class="col mb-4">
      <div class="card h-100 shadow-lg bg-body rounded" style="width: 18rem;">
        <% if drink.photo.attached? %>
          <%= image_tag drink.photo, alt: "cider photo", class: "img-thumbnail card-img-top" %>
        <% else %>
          <%= image_tag "cider-can.jpg", alt: "cider photo", class: "img-thumbnail card-img-top" %>
        <% end %>
        <div class="card-body bg-dark text-white rounded-bottom">
          <h3 class="card-title text-truncate", id="link"> <%= link_to drink.name, drink %> </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>