<p id="notice"><%= notice %></p>

<div class="row">
  <div class="jumbotron col-md-6 offset-md-3 col-sm-4 offset-sm-4">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
      <div class="col mb-4">
        <div class="card h-100" style="width: 25rem;">

          <% if @cidery.logo.attached? %>
          <%= image_tag @cidery.logo, alt: "cider logo", class: "img-thumbnail card-img-top" %>
          <% else %>
          <%= image_tag "cidery-logo.jpg", alt: "cider logo", class: "img-thumbnail card-img-top" %>
          <% end %>
          <div class="card-body text-white bg-dark">
            <h3 class="card-title"><%= @cidery.name%></h3>
            <p class="card-text"><%= @cidery.description %></p>
            <%= link_to 'Back', :back, class: "btn btn-outline-light btn-default" %>
              <%= link_to 'Edit', edit_cidery_path(@cidery), class: "btn btn-outline-light btn-default" if can? :update, @cidery %>
              <%= link_to 'Delete', cidery_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-light btn-default" if can? :destroy, @cidery %>
              <% if current_user && current_user.cidery_id == @cidery.id %>
              <%= link_to 'New CiDER', new_drink_path, class: "btn btn-outline-dark btn-default-inverse" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <% @cidery.drinks.each do |drink| %>
      <h3><%= drink.name %></h3>
      <p><%= drink.description %></p>
    <% end %>