<h3 class="landing d-flex justify-content-center">
  <%= button_to 'Discover a CiDER', random_path, class: "btn btn-outline-dark btn-default-inverse" %>
</h3>
<h3 class="landing d-flex justify-content-center">
  <%= button_to 'Meet the CiDERies', cideries_path, class: "btn btn-dark btn-outline-light btn-default" %>
</h3>
<%= image_tag 'cider-bg.jpg', class: "img-fluid rounded border mb-2" %>
<h6 class="landing d-flex justify-content-center">
  <%= link_to "DrinkWise", "https://drinkwise.org.au/" %> |
  <%= link_to "Cider Australia", "http://www.cideraustralia.org.au/" %>
</h6>